@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
*{
    padding: 0;
    margin: 0;
}

.box{
    width: 400px;
    height: 400px;
    color: white;
    margin: auto;
}

.box h1{
    width: 400px;
    height: 400px;
    font-family: 'Product Sans';
    background-image: conic-gradient(from -30deg at 30% 64% ,red 0deg,red 90deg,blue 90deg,blue 180deg,green 180deg,green 270deg,yellow 270deg,yellow 360deg);
    font-size: 500px;
    padding-bottom: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}