@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

label {
  width: 480px;
  height: 180px;
  display: block;
  background: white;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.9);
  position: relative;
}

label:after {
  content: "";
  height: 160px;
  width: 160px;
  background: black;
  border-radius: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 1s;
}

input {
  display: none;
}

input:checked ~ label {
  background: black;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.9);
}

input:checked ~ label:after {
  background-color: white;
  left: 310px;
}

.bg {
  background: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -99;
  transition: 1s;
}

input:checked ~ .bg {
  background: black;
}

input:checked ~ h1 {
  color: white;
}
